.button {
    background-color: $primary-color;
    color: $text-color;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    @include transition(background-color 0.3s ease);
  
    &:hover {
      background-color: $secondary-color;
    }
  }
  
  .button-secondary {
    @extend .button;
    background-color: $secondary-color;
  
    &:hover {
      background-color: $primary-color;
    }
  }