header {
    background-color: $bg-dark;
    padding: 20px;
  
    nav {
      @include flex-center;
      flex-direction: column;
  
      ul {
        list-style: none;
        padding: 0;
        display: flex;
  
        li {
          margin: 0 15px;
  
          a {
            color: $text-color;
            text-decoration: none;
  
            &:hover {
              color: $primary-color;
            }
          }
        }
      }
  
      img {
        width: 100px;
        @include transition(all 0.3s ease);
  
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }